#snakeModal
   .modalTitle
      h1 Haptic Controller for Better Surgical Precision
      h3 Applied Physics Laboratory
   .modalContent
      .media
         .video
            video(muted controls id="snakevideoModal")
               source(src="../public/images/snake_video.mp4")
      .text
         | <strong> Developed intuitive interface between a haptic controller (Sensable Phantom Premium) and a Dexterous Surgical Robot </strong>
         ul
            li Mapped gestures from 3D Cartesian controller coordinates to Cylindrical robot coordinates
            li Intuitive Force-Feedback
            li Collision Detection
            li Auto-Calibration
         | <strong> Tech Used: </strong>
         ul
            li Sensable Phantom API
            li Developed in C++ and MATLAB