#tasteModal
   .modalTitle
      h1 Taste
      h3 Be Tasteful
   .modalContent
      .media
         .video
            video(muted controls id="tastevideoModal")
               source(src="../public/images/taste_iOS.mp4")
      .text
         | <strong> Taste lets you take and share pictures at local businesses in exchange for gifts for you and your friends! </strong>
         ul
            li Built for both iOS and Android
            li Quickly log-in with Facebook
            li Redeem gifts straight from the Web App
         | <strong> Tech Used: </strong>
         ul
            li Seamless FB Login & Graph API integration
            li Custom REST API via NodeJS & PostgreSQL
            li Responsive website via Bootstrap + AngularJS
            li Google Analytics & Google Maps API

