.content
    script.
        var play = function playPause(videoID) {
            var myVideo = document.getElementById(videoID);
            myVideo.play();
        };
        var pause = function playPause(videoID) {
            var myVideo = document.getElementById(videoID);
            myVideo.pause();
        };
    header.header
        h1(style="font-variant: small-caps;") Piyush Poddar
        h3(style="font-family: Open Sans; margin-top: -5px; font-weight: 100; margin-bottom:5px") software engineer
        .circular
        .contact
            a(href='http://github.com/ppod1991')
                i.fa(class='fa-github fa-lg')
            a(href='http://www.linkedin.com/in/ppoddar1')
                i.fa(class='fa-linkedin')
            a(href='mailto:ppod1991@gmail.com')
                i.fa(class='fa-envelope-o fa-lg')
    a.item(href="" class='grayscale' ng-click='open("matchflare","matchflarevideo")' onmouseover="play('matchflarevideo')" onmouseout="pause('matchflarevideo')")
        .video
            video(muted loop id="matchflarevideo")
                source(src="../public/images/matchflare_android.webmhd.webm")
                source(src="../public/images/matchflare_android.mp4")
        .inFrontOfVideo
            p Matchflare
    a.item(href="" class='grayscale' ng-click='open("diial","diialvideo")' onmouseover ="play('diialvideo')" onmouseout="pause('diialvideo')")
        .video
            video(muted loop id="diialvideo")
                source(src="../public/images/diial_android.webmhd.webm")
                source(src="../public/images/diial_android.mp4")
        .inFrontOfVideo
            p Diial
    a.item(href="" class='grayscale' ng-click='open("taste","tastevideo")' onmouseover="play('tastevideo')" onmouseout="pause('tastevideo')")
        .video
            video(muted loop id="tastevideo")
                source(src="../public/images/taste_android.webmhd.webm")
                source(src="../public/images/taste_android.mp4")
        .inFrontOfVideo
            p Taste
    a.item(href="" class='grayscale' ng-click='open("snake","snakevideo")' onmouseover="play('snakevideo')" onmouseout="pause('snakevideo')")
        .video
            video(muted loop id="snakevideo")
                source(src="../public/images/snake_video.webmhd.webm")
                source(src="../public/images/snake_video.webmhd.mp4")
        .inFrontOfVideo
            p Haptic Snake Robot Controller
    a.item(href="" class='grayscale' ng-click='open("septoplasty","septoplastyvideo")' onmouseover="play('septoplastyvideo')" onmouseout="pause('septoplastyvideo')")
        .video
            video(muted loop id="septoplastyvideo")
                source(src="../public/images/septoplasty_video.webmhd.webm")
                source(src="../public/images/septoplasty_video.mp4")
        .inFrontOfVideo
            p Surgical Visualization & Classification