extends layout

block content
    .container
        div(ng-view)
        footer.footer
            a(href='mailto:ppod1991@gmail.com') ppod1991@gmail.com
                i.fa(class='fa-envelope-o fa-lg')
            a(href='http://www.linkedin.com/in/ppoddar1') linkedIn
                i.fa(class='fa-linkedin')
            a(href='http://github.com/ppod1991') github
                i.fa(class='fa-github fa-lg')
    //.modal
    //    include modals/blog
    //    include modals/matchflare
    //    include modals/diial
    //    include modals/taste
    //    include modals/septoplasty
    //    include modals/snake



