extends layout

block content
    .container(ng-controller="mainController")
        div(ng-view)
        footer.footer
            a(href='mailto:ppod1991@gmail.com') ppod1991@gmail.com
                i.fa(class='fa-envelope-o fa-lg')
            a(href='http://www.linkedin.com/in/ppoddar1') linkedIn
                i.fa(class='fa-linkedin')
            a(href='http://github.com/ppod1991') github
                i.fa(class='fa-github fa-lg')
        script.
            function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.hash);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

            var playOther = function (thisElement, other, src1, src2) {
                $(thisElement)[0].style.fontWeight = 'bold';
                $(thisElement)[0].style.backgroundColor = '#e6e6e6';
                $(other)[0].style.fontWeight = '200';
                $(other)[0].style.backgroundColor = 'white';
                var sources = vid.getElementsByTagName('source');
                sources[0].src = src1;
                sources[1].src = src2;
                vid.load();
                vid.play();
                console.log('play');
            }
    //.modal
    //    include modals/blog
    //    include modals/matchflare
    //    include modals/diial
    //    include modals/taste
    //    include modals/septoplasty
    //    include modals/snake



